@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4qn2j5');
  src:  url('fonts/icomoon.eot?4qn2j5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4qn2j5') format('truetype'),
    url('fonts/icomoon.woff?4qn2j5') format('woff'),
    url('fonts/icomoon.svg?4qn2j5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e901";
}
.icon-notifications:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e900";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-person:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-settings:before {
  content: "\e994";
}
.icon-star:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-refresh:before {
  content: "\ea2e";
}
.icon-share:before {
  content: "\ea82";
}
